<div class="jumbo">
  <div class="right tomster"></div>
  <div class="titelhomepagina">
    <h1>Film & foto collectie van het NMVW</h1>
    <a onclick="closeHomePageImg()">Bekijk collectie</a>
  </div> 
<h2>Collectie</h2>
  <p>
    Hier vind je alle voorwerpen die met film/foto's te maken hebben uit het nationaal museum voor wereldculturen
  </p>
  {{#link-to "opgeslagen" class="button"}}
  Opgeslagen
  {{/link-to}}
</div>

{{#each this.model as |collectie|}}
<h2>2019</h2>
<section>
  <article>
         <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2"> --}}
  </article>
  <article>
         <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2"> --}}
  </article>
</section>
<h2>2018</h2>
<section>
  <article>
         <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2"> --}}
  </article>
  <article>
         <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2"> --}}
  </article>
</section>
<h2>2017</h2>
<section>
  <article>
    <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
  </article>

  <article>
         <div>
      <span><img src="{{collectie.img}}"></span>
    </div>
    <h3>{{collectie.title}}</h3>
    <div>
      <span>Omschrijving</span> <p>{{collectie.description}}</p>
    </div>
      <span>Details:</span> <a href="{{collectie.cho}}">Lees meer</a>
  </article>
</section>

{{/each}}
{{outlet}}