<div class="jumbo">
  <div class="right tomster"></div>
  <div class="titelhomepagina">
    <h1>Film & foto collectie van het NMVW</h1>
    <a onclick="closeHomePageImg()">Bekijk collectie</a>
  </div> 
<h2>Collectie</h2>
  <p>
    Hier vind je alle voorwerpen die met film/foto's te maken hebben uit het nationaal museum voor wereldculturen
  </p>
  {{#link-to "opgeslagen" class="button"}}
  Opgeslagen
  {{/link-to}}
</div>
{{#each this.model as |rental|}}
<h2>2019</h2>
<section>
  <article>
    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2"> --}}
  </article>
  <article>
    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
    {{!-- <img class="harticoon" src="images/hartjeicoon.png" alt="like icoon2" onclick="hartjesvullen(this)"> --}}
  </article>
</section>
<h2>2018</h2>
<section>
  <article>

    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
  <article>

    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
</section>
<h2>2017</h2>
<section>
  <article>

    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
  <article>

    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
  <article>
    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
  <article>
    <h3>{{rental.title}}</h3>
    <div>
      <span>Owner:</span> {{rental.owner}}
    </div>
    <div>
      <span>Type:</span> {{rental.category}}
    </div>
    <div>
      <span>Location:</span> {{rental.city}}
    </div>
    <div>
      <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
  </article>
</section>
{{/each}}
{{outlet}}