<div class="jumbo">
  <div class="right tomster"></div>
  <div class="titelhomepagina">
    <h1>Film & foto collectie van het NMVW</h1>
    <a onclick="closeHomePageImg()">Bekijk collectie</a>
  </div> 

  <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2>Filter</h2>

        <form class="filter" action="index2.html">
          <fieldset>
              <legend>Genre</legend>
            <ul>
                <li>
                    <label><input type="checkbox" name="stars" value="1" checked="checked" /> Camera's</label>
                </li>
               <li> 
                   <label><input type="checkbox" name="stars" value="3" checked="checked" /> Foto's</label></li>
                <li>
                    <label><input type="checkbox" name="stars" value="5" checked="checked" /> Foto tassen</label>
                </li>
                <li>
                    <label><input type="checkbox" name="stars" value="1" checked="checked" /> Technische onderdelen</label>
                </li>
                <li>
                    <label><input type="checkbox" name="stars" value="3" checked="checked" /> Zwart-wit</label></li>

            </ul>
            </fieldset>
             <fieldset>
              <legend>Sorteren</legend>
            <ul>
                <li>
                    <label><input type="checkbox" name="sorteren" value="1" checked="checked" /> 2000-nu</label>
                </li>
                <li>
                    <label><input type="checkbox" name="sorteren" value="3" checked="checked" /> 1800-2000</label>
                </li>
                <li>
                    <label><input type="checkbox" name="sorteren" value="5" checked="checked" /> 1400-1800</label>
                </li>
                <li>
                    <label><input type="checkbox" name="sorteren" value="5" checked="checked" /> 1400 en ouder
                </label></li>
            </ul>
         </fieldset>
         <input type="submit" name="subscribe" value="Toepassen"/>
         
        </form>

    </div>

    <h2 class="filtericon" onclick="openNav()">Filter</h2>
</div>
<div class="titelpagina">
<h2>Collectie</h2>
</div>
  <p>
    Hier vind je alle voorwerpen die met film/foto's te maken hebben uit het nationaal museum voor wereldculturen
  </p>
  {{!-- {{#link-to "opgeslagen" class="button"}}
  Opgeslagen
  {{/link-to}} --}}

<h3 class="year">2019</h3>
<section>

  {{#each this.model as |entry|}}

    <article>
          <div>
        <span><img src="{{entry.img}}"></span>
      </div>
      <h3>{{entry.title}}</h3>
      <a href="detail/{{entry.cho}}">Lees meer</a>
    </article>

  {{/each}}


</section>
{{!-- 
<ListFilter @filter={{action "filterByCity"}} as |filteredResults|>
  <ul class="results">
    {{#each filteredResults as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
    {{/each}}
  </ul>
</ListFilter> --}}

{{outlet}}
