 
{{#each this.model as |collectie|}}
 <article>
{{!-- <span><img src="{{this.newObject.img}}"></span> --}}
      <h3>{{collectie.title}}</h3>
      {{!-- <p>{{this.newObject.description}}</p>  
      <p>{{this.newObject.cho}}</p>
      <a href="detail/{{this.newObject.cho}}">Lees meer</a> --}}
    </article>
    
{{/each}}

{{outlet}}